@font-face {
    font-family: 'myFont';
    src: url(fonts/Ephesis-Regular.ttf);
}

@font-face {
    font-family: 'Luminari';
    src: url(fonts/Luminari-Regular.woff);
}

html {
    font-family: 'myFont', sans-serif;
}

.viewport {
    display: flex;
}

body {
    margin: 0;
}

.image {
    flex: auto;
    height: 100vh;
    width: clamp(10%, 15%, 20%);
    background-image: url(https://cdn.midjourney.com/27392101-39e8-404a-9041-078bf77e6841/0_3.webp);
    background-size: cover;
}

.formSide {
    flex: 3 1 0;
    background-image: linear-gradient(#223140, #294739);
    font-family: 'Luminari';
}

h2 {
    font-size: clamp(24px, 30px, 36px);
    width: clamp(20%, 55%, 75%);
    padding: 4rem;
    font-style: italic;
}

h4 {
    font-size: clamp(12px, 20px, 28px);
    padding: 12px;
    margin-left: 4rem;
}

form {
    margin-top: 1rem;
    padding: 3rem;
    background-color: rgba(3, 252, 227, .13);
}

.fields {
    display: flex;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
    width: clamp(12%, 48%, 48%);
    padding: 0 1%;
    flex: auto;
    overflow: hidden;
}

.button {
    width: 100%;
}


label {
    display: inline-block;
    text-align: left;
    font-size: 90%;
    font-family: 'Luminari';
    color: whitesmoke;
}

input {
    width: 65%;
    height: 1.5rem;
    margin-top: 0;
    margin-bottom: 5%;
    margin-right: 20%;
    border-radius: 4px;
    border: solid black 1px;
    font-family: 'Luminari';
}


input:invalid:required {
    border: red solid 1px;
}

input:valid {
    border: green 2px dotted;
}

input:hover {
    border: orange 2px solid;
}


ul {
    list-style: none;
}

button {
    float: left;
    width: 90px;
    height: 30px;
    border-radius: 0 10px 0 10px;
    margin: 0 1%;
    background-color: tan;
    font-family: 'Luminari';
    box-shadow: #223140;
    
}

.imageCover {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    margin-top: 17%;
    background-image: url(https://watercolors.giantsoup.com/phb/phb_top-and-bottom/0001.png);
    background-size: 17%;
    width: stretch;
    height: 18%;
    padding-left: 2rem;
    color: rgba(0,0,0, .5)

}

.coverText {
    font-size: 200%;
}

#logo {
    width: 92px;
    height: 92px;
}